$border: 2px solid rgba(0, 0, 0, 0.25);

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
	font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit !important;
}

.container {
	// write container that has max width of 800px and is centered
	max-width: 800px;
	margin: 0 auto;
	border: $border;
	// make height  of container equal to the height of the window
	height: 100vh;
}

.wrapper {
	border-bottom: $border;
}

.content {
	margin: 1em;
}

// write navbar
nav {
	// pading 20 px
	padding: 20px;
}
* {
	box-sizing: border-box;
}

.center {
	text-align: center;
}

.links {
	font-size: x-large;
	justify-content: space-around;
	display: flex;
}
$nice-cyan: #00bcd4;
a {
	box-shadow: inset 0 0 0 0 $nice-cyan;
	color: $nice-cyan;
	margin: 0 -0.25rem;
	padding: 0 0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	text-decoration: none;
}
a:hover {
	box-shadow: inset 100px 0 0 0 $nice-cyan;
	color: white;
}
